<div class="modern-modal">
  <div class="modal-header">
    <h2>{{ meta.id ? 'Editar Meta' : 'Nova Meta' }}</h2>
    <button mat-icon-button (click)="onClose()" aria-label="Fechar">
      <mat-icon>X</mat-icon>
    </button>
  </div>

  <form class="modal-form" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Lado esquerdo -->
      <div class="left">
        <div class="form-item">
          <input placeholder="Descrição" [(ngModel)]="meta.descricao" name="descricao" required />
        </div>

        <div class="form-item">
          <input type="date" [(ngModel)]="meta.dataInicio" name="dataInicio" required />
        </div>

        <div class="form-item">
          <input type="date" [(ngModel)]="meta.dataTermino" name="dataTermino" required />
        </div>

        <div class="form-item">
          <input placeholder="Status" [(ngModel)]="meta.status" name="status" required />
        </div>
      </div>

      <!-- Lado direito -->
      <div class="right">
        <!-- Valor Objetivo -->
        <div class="form-item">
          <span class="label">Valor objetivo</span>
          <input
            type="number"
            [(ngModel)]="meta.valorObjetivo"
            name="valorObjetivo"
            class="input-currency"
            placeholder="0.00"
          />
        </div>
      
        <!-- Valor Atual -->
        <div class="form-item">
          <span class="label">Valor atual</span>
          <input
            type="number"
            [(ngModel)]="meta.valorAtual"
            name="valorAtual"
            class="input-currency"
            placeholder="0.00"
          />
        </div>
      
        <!-- ID Usuário -->
        <div class="form-item">
          <span class="label">ID Usuário</span>
          <input
            type="number"
            [(ngModel)]="meta.usuario.id"
            name="usuarioId"
            placeholder="Digite o ID"
          />
        </div>
      </div>
    </div>      

    <div class="footer-actions">
      <button class="rounded-button" type="submit">{{ meta.id ? 'Atualizar' : 'Salvar' }}</button>
    </div>
  </form>
</div>
