<div class="modern-modal">
  <div class="modal-header">
    <h2>{{ usuario.id ? "Editar Usuário" : "Novo Usuário" }}</h2>
    <button mat-icon-button (click)="onClose()" aria-label="Fechar">
      <mat-icon>X</mat-icon>
    </button>
  </div>

  <form class="modal-form" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Nome -->
      <div class="form-item">
        <label class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o nome"
          [(ngModel)]="usuario.nome"
          name="nome"
          required
        />
      </div>

      <!-- Email -->
      <div class="form-item">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Digite o email"
          [(ngModel)]="usuario.email"
          name="email"
          required
        />
      </div>

      <!-- Senha -->
      <div class="form-item">
        <label class="form-label">Senha</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite a senha"
          [(ngModel)]="usuario.senha"
          name="senha"
          required
        />
      </div>

      <!-- Status -->
      <div class="form-item">
        <label class="form-label">Status</label>
        <select
          class="form-select"
          [(ngModel)]="usuario.status"
          name="status"
          required
        >
          <option value="ATIVO">Ativo</option>
          <option value="INATIVO">Inativo</option>
          <option value="BLOQUEADO">Bloqueado</option>
        </select>
      </div>
    </div>

    <!-- Botões -->
    <div class="footer-actions">
      <button class="rounded-button" type="submit">
        {{ usuario.id ? "Atualizar" : "Salvar" }}
      </button>
      <button
        class="rounded-button btn-secondary"
        type="button"
        (click)="onClose()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
