<div class="metas-container">
  <h2>Metas</h2>
  <button class="btn-novo" (click)="openModal()">Nova Meta</button>

  <!-- Busca por ID -->
  <div class="result-flex">
    <section class="search-section">
      <div class="search-box">
        <input type="number" placeholder="ID da Meta" [(ngModel)]="buscaId" />
        <button class="search-button" (click)="getMetaById()">Buscar</button>
      </div>
    </section>

    <!-- Resultado da busca por ID -->
    <div class="result-card" *ngIf="metaEncontrada">
      <h3>Meta encontrada</h3>
      <div class="meta-info">
        <p><strong>Descrição:</strong> {{ metaEncontrada.descricao }}</p>
        <p>
          <strong>Valor Objetivo:</strong>
          {{ metaEncontrada.valorObjetivo | currency }}
        </p>
        <p>
          <strong>Valor Atual:</strong>
          {{ metaEncontrada.valorAtual | currency }}
        </p>
        <p>
          <strong>Status:</strong>
          <span class="status-chip">{{ metaEncontrada.status }}</span>
        </p>
        <p><strong>Usuário:</strong> {{ metaEncontrada.usuario.id }}</p>
      </div>
    </div>

    <!-- Busca por metas em andamento -->
    <section class="search-section">
      <div class="search-box">
        <select [(ngModel)]="usuarioId">
          <option *ngFor="let user of usuarios" [value]="user.id">
            {{ user.nome }}
          </option>
        </select>        
        <button class="search-button" (click)="searchMetasEmAndamento()">
          Buscar
        </button>
      </div>
    </section>

    <!-- Resultado da busca em andamento -->
    <div class="result-list" *ngIf="metasEmAndamento?.length">
      <h3>Metas em Andamento</h3>
      <div class="meta-card" *ngFor="let m of metasEmAndamento">
        <p>
          <strong>{{ m.descricao }}</strong>
        </p>
        <p>
          Objetivo: {{ m.valorObjetivo | currency }} | Atual:
          {{ m.valorAtual | currency }}
        </p>
        <p>
          Status: <span class="status-chip">{{ m.status }}</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Tabela -->
  <table
    mat-table
    [dataSource]="metas"
    class="mat-elevation-z8"
    *ngIf="metas?.length"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let meta">{{ meta.id }}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let meta">{{ meta.descricao }}</td>
    </ng-container>

    <ng-container matColumnDef="valorObjetivo">
      <th mat-header-cell *matHeaderCellDef>Objetivo</th>
      <td mat-cell *matCellDef="let meta">
        {{ meta.valorObjetivo | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valorAtual">
      <th mat-header-cell *matHeaderCellDef>Atual</th>
      <td mat-cell *matCellDef="let meta">{{ meta.valorAtual | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="dataInicio">
      <th mat-header-cell *matHeaderCellDef>Início</th>
      <td mat-cell *matCellDef="let meta">{{ meta.dataInicio | date }}</td>
    </ng-container>

    <ng-container matColumnDef="dataTermino">
      <th mat-header-cell *matHeaderCellDef>Término</th>
      <td mat-cell *matCellDef="let meta">{{ meta.dataTermino | date }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let meta">{{ meta.status }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let meta">
        <div class="action-buttons">
          <button class="icon-button" (click)="openModal(meta)" title="Editar">
            <mat-icon>✏️</mat-icon>
          </button>
          <button
            class="icon-button danger"
            (click)="deleteMeta(meta.id)"
            title="Excluir"
          >
            <mat-icon>🗑️</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <app-metas-form
        [meta]="metaForm"
        (submitMeta)="handleFormSubmit($event)"
        (close)="closeModal()"
      >
      </app-metas-form>
    </div>
  </div>
</div>
