<div class="metas-container">
  <h2>Metas</h2>
  <button class="btn-novo" (click)="openModal()">Novo Meta</button>
  
  <!-- Componente de lista -->
  <app-metas-list 
    [metas]="metas" 
    (edit)="openModal($event)" 
    (delete)="deleteMeta($event)">
  </app-metas-list>

  <!-- Modal de formulário -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <app-metas-form 
        [meta]="metaForm" 
        (submitMeta)="handleFormSubmit($event)" 
        (close)="closeModal()">
      </app-metas-form>
    </div>
  </div>
</div>

<div>
  <h2>Buscar Meta por ID</h2>
  <input type="number" [(ngModel)]="buscaId" name="buscaId" placeholder="ID">
  <button (click)="getMetaById()">Buscar</button>
  <div *ngIf="metaEncontrada">
    <p>{{ metaEncontrada | json }}</p>
  </div>
</div>

<div>
  <h2>Buscar Metas em Andamento por Usuário</h2>
  <input type="number" [(ngModel)]="usuarioId" name="usuarioIdSearch" placeholder="Usuário ID">
  <button (click)="searchMetasEmAndamento()">Buscar</button>
  <ul>
    <li *ngFor="let m of metasEmAndamento">
      {{ m | json }}
    </li>
  </ul>
</div>
