<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="modal-header">
            <h2>{{ conta.id ? 'Editar conta' : 'Nova conta' }}</h2>
            <button class="close-btn" (click)="onClose()">×</button>
          </div>
          
          <form (ngSubmit)="onSubmit()">
          
            <div class="form-group">
              <label>Usuário ID:</label>
              <button> usuario </button>
            </div>
            
            <div class="form-group">
              <label>Nome da Conta:</label>
              <input type="text" [(ngModel)]="conta.nomeConta" name="nomeConta" required>
            </div>
          
            <div class="form-group">
              <label>Tipo da Conta:</label>
             
                <select name="tipoConta" required [(ngModel)]="conta.tipoConta">
                  <option value="CORRENTE">CORRENTE</option>
                  <option value="POUPANCA">POUPANÇA</option>
                  <option value="INVESTIMENTO">INVESTIMENTO</option>
                </select>
          
            </div>
          
            <div class="form-group">
              <label>Saldo Inicial:</label>
              <input type="number" [(ngModel)]="conta.saldoInicial" name="saldoInicial" required>
            </div>
          <!-- 
            <div class="form-group">
              <label>Data de Criação:</label>
              <input type="date" [(ngModel)]="conta.dataCriacao" name="dataCriacao" required>
            </div>
          -->
            @if(conta.id > 0){
            <div class="form-group">
              <label>Status:</label>
              <select name="status" required [(ngModel)]="conta.status">
                <option value="ATIVA">ATIVA</option>
                <option value="INATIVA">INATIVA</option>
                <option value="BLOQUEADA">BLOQUEADA</option>
              </select>
            </div>
          }
          <br>
            <div class="form-actions">
              <button class="btn-save">{{ conta.id ? 'Atualizar' : 'Salvar' }}</button>
              <button type="button" (click)="onClose()" class="btn-cancel">Cancelar</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #submodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Submodal</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Conteúdo da submodal</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>
