.btn-save{
    background-color: #101728;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn-cancel{
    background-color: #10172898;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 3px;
}
.form-actions{
    text-align: right;
  margin-top: 1rem;
}